@use 'styles/utils';

.geo-popup {
    &__title {
        margin-bottom: 80px;
    }

    &__input-wrapper {
        gap: 10px;
        margin-bottom: 40px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--accent-light);
    }

    &__input {
        font-family: var(--steelfish);
        font-size: 2.8rem;
        letter-spacing: 0.01rem;
        line-height: 1.05;
        text-transform: uppercase;

        &::placeholder {
            color: var(--accent-half-opacity);
        }
    }

    &__input:placeholder-shown + &__clear-input-button {
        background-image: url('assets/icons/search.svg');
    }

    &__clear-input-button {
        aspect-ratio: 1;
        filter: var(--filter-accent);
        width: 34px;
        flex-shrink: 0;
        background-image: url('assets/icons/close.svg');
        @include utils.bg-defaults;
    }

    &__result {
        &-title {
            margin-bottom: 20px;
            font-size: 1.6rem;
            letter-spacing: 0.01rem;
            line-height: 1.3;
            text-transform: uppercase;
            opacity: 0.6;
        }

        &-body {
            gap: 12px;
            max-width: 50%;
            display: flex;
            flex-direction: column;
            font-size: 2rem;
            line-height: 1.4;
        }
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .geo-popup {
        &__title {
            margin-bottom: 40px;
        }

        &__input-wrapper {
            padding-bottom: 16px;
        }

        &__input {
            font-size: 2rem;
        }

        &__clear-input-button {
            width: 24px;
        }

        &__result {
            &-title {
                font-size: 1.2rem;
            }

            &-body {
                gap: 10px;
                font-size: 1.4rem;
            }
        }
    }
}
