include layout/utils

ul.socials
    li: +anchor('').socials__item: +img(require('assets/icons/vk.svg'))
    li: +anchor('').socials__item: +img(require('assets/icons/tg.svg'))
    li: +anchor('').socials__item: +img(require('assets/icons/wa.svg'))
