include layout/utils

-
    var projects = [
        {
            image: require('assets/content/projects.jpg'),
            name: 'ооо «промторг»',
            description: 'К гидрофильному маслу у нас требования серьёзные: во‑первых, оно не должно щипать глаза К гидрофильному маслу у нас требования серьёзные: во‑первых, оно не должно щипать глаза К гидрофильному маслу у нас требования серьёзные: во‑первых, оно не должно щипать глаза'
        },
        {
            image: require('assets/content/projects.png'),
            name: 'ооо «промторг2»',
            description: 'К гидрофильному маслу у нас требования'
        }
    ]


section.projects.section
    h2.section-title.projects__title!= 'Успешно реализованые <br>проекты'
    .projects-slider.swiper
        .swiper-wrapper
            each item in projects
                .projects__item.swiper-slide
                    +img(item.image).projects__item-image
                    .container
                        .projects__item-info
                            .projects__item-name= item.name
                            .projects__item-description= item.description
        .projects-slider__navigation
            .projects-slider__navigation-prev
            .projects-slider__navigation-next
        .projects-slider__pagination
