include layout/utils

-
    var years = [
        {
            value: '2008 год',
            description: 'Торжественное открытие нашего второго офиса в г. Казань',
            image: require('assets/content/years-1.png')
        },
        {
            value: '2010 год',
            description: 'Торжественное открытие нашего второго офиса в г. Казань',
            image: require('assets/content/store-2.png')
        }
    ]

section.section.years
    +img(require('assets/content/store-2.png')).years__image
    .years__slider.swiper
        .swiper-wrapper
            each item in years
                .years__item.swiper-slide
                    .years__item-value= item.value
                    .years__item-description= item.description
                    +img(item.image).years__item-image
                    +img(require('assets/icons/years-decor.svg')).years__item-decor
