include layout/utils

+section.faq
    h2.section-title.faq__title Вопрос-ответ
    .faq__content
        .faq__contact
            .faq__contact-title свяжитесь с нами!
            .faq__contact-text Открыты к новому сотрудничеству и всегда в поиске новых талантов. Отправьте своё портфолио нам и свяжемся в ближайшее время
            .faq__contact-button.button.button--dark(data-action='popup', data-popup='call') отправить заявку
        .faq__list
            each item, index in Array(7)
                if index === 1
                    .faq__question._opened Что требуется для сотрудничества?
                        .faq__answer Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя из того, что просветляет филосовский код. Как отмечает Д. Майерс, у нас есть некоторое чувство конфликта, которое возни. Декаданс заканчивает композиционный мимезис, таким образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов мифотворчества сродни
                else
                    .faq__question Что требуется для сотрудничества?
                        .faq__answer Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя из того, что просветляет филосовский код. Как отмечает Д. Майерс, у нас есть некоторое чувство конфликта, которое возни. Декаданс заканчивает композиционный мимезис, таким образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов мифотворчества сродни
