include layout/utils

section.section.measure
    +img(require('assets/static/main-page/measure-bg.jpg')).measure__bg
    .container: .measure__body
        h2.measure__title Закажите бесплатный замер площади
        p.measure__text Устанавливаем точные размеры любых строительных объектов, конструкций и отдельных элементов
        +img(require('assets/static/main-page/teseract.svg')).measure__teseract
        +anchor.measure__link.text-button подробнее
