include layout/utils

mixin breadcrumbs(list)
    - list = list || []

    .container.breadcrumbs
        +anchor('/').breadcrumbs-item Главная
        each item, index in list
            if index === list.length -1
                .breadcrumbs-item= item
            else
                +anchor.breadcrumbs-item= item
