@use 'styles/utils';

body:has(:where(.collection-hero)) .breadcrumbs {
    position: absolute;
    z-index: 5;
    margin-top: calc(var(--header-height) + 30px);
    color: var(--white);
}

.breadcrumbs {
    gap: 5px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    color: var(--accent);
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0.5;

    &-item {
        gap: 5px;
        width: 1px;
        max-width: fit-content;
        flex-grow: 1;
        flex-shrink: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:nth-child(1),
        &:nth-child(2) {
            width: max-content;
        }

        &:not(:first-child):before {
            content: '/ ';
        }
    }
}

@media screen and (max-width: utils.$tablet1000) {
    .breadcrumbs.breadcrumbs {
        position: static;
        margin-top: 20px;
        margin-bottom: 32px;
        color: var(--accent);
        font-size: 1rem;
    }
}
