@use 'styles/utils';

.product-info-card {
    position: relative;
    padding-bottom: 27px;
    display: flex;
    border-bottom: 1px solid var(--accent-light);

    &:last-child {
        border-bottom: none;
    }

    &__favorite-button {
        aspect-ratio: 1;
        position: relative;
        right: 5px;
        margin-bottom: auto;
        width: 25px;
        align-self: flex-end;
        cursor: pointer;

        .icon {
            filter: var(--filter-accent);
        }
    }

    &__remove {
        @include utils.square(15px);
        position: relative;
        margin-bottom: auto;
        align-self: end;
        cursor: pointer;

        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            translate: -50% 0;
            width: 1px;
            opacity: 0.5;
            background-color: var(--accent);
        }

        &::after {
            rotate: -45deg;
        }

        &::before {
            rotate: 45deg;
        }
    }

    &__img-wrapper {
        margin-right: 24px;
        width: 152px;
        height: 177px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e8e0d5;
    }

    &__img {
        object-position: center;
        object-fit: contain;
        aspect-ratio: 1;
        mix-blend-mode: darken;
        width: 90%;
        align-self: center;
    }

    &__body {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 12px;
        font-family: var(--steelfish), sans-serif;
        font-size: 2.8rem;
        letter-spacing: 0.01rem;
        line-height: 105%;
        text-transform: uppercase;
    }

    &__characteristic {
        gap: 3px;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        opacity: 0.5;

        &::after {
            content: '/';
            order: 2;
        }
    }

    &__color {
        order: 3;
    }

    &__amount {
        gap: 12px;
        margin-top: 32px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        letter-spacing: 0.01rem;

        .increase,
        .decrease {
            @include utils.square(19px);
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--accent-light);
        }
    }

    &__stock {
        display: none;
        color: var(--green);
        font-size: 1.4rem;
        letter-spacing: 0.01rem;
        text-transform: uppercase;
    }

    &__preorder {
        gap: 8px;
        margin-top: auto;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        letter-spacing: 0.01rem;
        text-decoration: underline;
        text-transform: uppercase;

        &::after {
            content: '';
            @include utils.square(12px);
            @include utils.bg-defaults();
            background-image: url('assets/icons/tooltip.svg');
        }
    }

    &__price {
        margin-left: auto;
        display: flex;
        flex-direction: column;

        &-peritem {
            font-size: 1.4rem;
            text-align: end;
            opacity: 0.5;
        }

        &-container {
            gap: 8px;
            display: flex;
            align-items: center;
            font-family: var(--steelfish), sans-serif;
            font-size: 2.8rem;

            .product-info-card__price--discount {
                text-decoration: line-through;
                opacity: 0.5;
            }
        }
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .product-info-card {
        padding-bottom: 24px;

        &__img {
            margin-right: 12px;
            width: 90px;
            height: 130px;
        }

        &__title {
            margin-bottom: 10px;
            width: 180px;
            overflow: hidden;
            font-size: 2rem;
            text-wrap: nowrap;
            text-overflow: ellipsis;
        }

        &__characteristic {
            font-size: 1rem;
        }

        &__amount {
            margin-top: 16px;
            margin-bottom: 7px;
            font-size: 1.4rem;
        }

        &__stock,
        &__preorder {
            font-size: 1.2rem;
        }

        &__preorder::after {
            content: none;
        }

        &__price {
            position: absolute;
            right: 0;
            bottom: 24px;
            &-peritem {
                font-size: 1rem;
            }

            &-container {
                font-size: 2rem;
            }
        }
    }
}
