@use 'styles/utils';

.video-review {
    padding: 0;
    &__inner {
        @include utils.square(100%);
        gap: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;

        .close-btn {
            position: static;
            align-self: end;
            border-color: var(--white);

            &:before,
            &:after {
                background-color: var(--white);
            }

            &:hover {
            }
        }
    }
}

.video-player {
    width: 100%;
    height: 100%;
}
