@use 'styles/utils';

.close-btn {
    @include utils.square(64px);
    position: absolute;
    z-index: 10;
    top: 72px;
    right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--accent);

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 20px;
        background-color: var(--accent);
        @include utils.transition(background-color);
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .close-btn {
        @include utils.square(32px);
        top: 28px;
        right: 28px;

        &::after,
        &::before {
            height: 15px;
        }
    }
}
