@use 'styles/utils';

.category-link {
    position: relative;
    font-family: var(--steelfish);
    text-transform: uppercase;

    & + .category-link {
        &::before {
            content: '/ ';
        }
    }

    &__text {
        &::after {
            content: ' ';
        }
    }

    &__number {
        font-size: 50%;
        line-height: 1.3;
        vertical-align: top;
    }
}
