include layout/utils

+section.about-video
    video.about-video__item(muted)
        source(src='assets/content/about-video.webm', type='video/webm')
        source(src='assets/content/about-video.mp4', type='video/mp4')
    .about-video__control
        .about-video__play
        .about-video__duration
    h2.section-title.about-video__title наш подход к работе
