include layout/utils
include features/popup/popup

+popup('thanks', 'thanks-popup').popup--centered
    .thanks-popup__title спасибо, ваш заявка отправлена!
    .thanks-popup__text Наш менеджер свяжется с вами в течение рабочего времени!
