include layout/utils

-
    var reviews = [
        {
            name: 'Мария петрова',
            image: 'assets/content/reviews/1.jpg',
            position: 'исполнительный директор ПАО «Газпром»',
            media: {
                photo: 10,
                video: 2
            }
        }, {
            name: 'Андрей разумовский',
            image: 'assets/content/reviews/2.jpg',
            position: 'помощник руководителя ПАО «магнит»',
            media: {
                photo: 6,
                video: 0
            }
        }, {
            name: 'Антонина Коршунова',
            image: 'assets/content/reviews/3.jpg',
            position: 'исполнительный директор ооо «чайка»',
            media: {
                photo: 0,
                video: 0
            }
        }, {
            name: 'Егор иванов',
            image: 'assets/content/reviews/4.jpg',
            position: 'помощник руководителя ПАО «сибур»',
            media: {
                photo: 10,
                video: 0
            }
        }, {
            name: 'Наталья родина',
            image: 'assets/content/reviews/5.jpg',
            position: 'исполнительный директор ПАО «Газпром»',
            media: {
                photo: 10,
                video: 2
            }
        }
    ]

.text-reviews
    each item in reviews
        .text-reviews__item.review-item
            .text-reviews__item-header
                +img(require(item.image)).text-reviews__item-photo
                .text-reviews__item-person
                    .text-reviews__item-name= item.name
                    .text-reviews__item-position= item.position
                button.text-reviews__item-button(data-action='popup', data-popup='review')
            .text-reviews__item-description
                .text-reviews__item-text Всё понравилось. Делали мебель на заказ. Быстро приехал замерщик, составили эскиз. Произвели расчёт. Указанная в договоре сумма не менялась. Всё понравилось. Делали мебель на заказ. Быстро приехал замерщик, составили эскиз. Произвели расчёт. Указанная в договоре сумма не менялась…
                if item.media.video || item.media.photo
                    .text-reviews__item-media
                        if item.media.video !== 0
                            .text-reviews__item-amount.video!= `${item.media.video} видео`
                        if item.media.photo !== 0
                            .text-reviews__item-amount.photo!= `${item.media.photo} фото`
