extends layout/page

block append head
    link(href=require('./styles.scss'), rel='stylesheet')

block append main
    section.section
        button(data-popup='cart', data-action='popup') popup

block append scripts
    script(src=require('./main.ts'))
