extends layout/page

block append head
    link(href=require('./main-page.styles.scss'), rel='stylesheet')

block append main
    include components/main-hero/main-hero
    include components/categories/categories
    include components/products-showcase/products-showcase
    include components/measure/measure
    .dark-wrapper
        include components/quick-about/quick-about
        include components/reviews-section/reviews-section
        include components/blog-section/blog-section

block append scripts
    script(src=require('./main-page.ts'))
