extends layout/page

block append head
    link(href=require('./styles.scss'), rel='stylesheet')

block append main
    section.section
        include ui/popups/authorization/authorization

block append scripts
    script(src=require('./main.ts'))
