include layout/utils

.cookie-notification
    p.cookie-notification__text
        | Мы используем cookies. Используя сайт, вы соглашаетесь с обработкой данных с целью сбора аналитики.
        | Cookies можно отключить в любой момент в настройках вашего браузера
    +wrapBreak: button.button--dark.button.button--small.cookie-notification__button(type='button') хорошо
