include layout/utils

mixin article-card(props)
    -
        var props = Object.assign({
            title: 'Как выбрать идеальный стол для офиса?',
            img: '',
            tag: '#столы',
            date: '30 Октября',
            time: '3 мин',
        }, props || {})

    +anchor.article-card&attributes(attributes)
        .article-card__image-wrapper
            +img(props.img).article-card__image
            .article-card__tag= props.tag
        .article-card__title= props.title
        .article-card__bottom
            .article-card__date= props.date
            .article-card__time= props.time
