extends layout/page

block append head
    link(href=require('product.scss'), rel='stylesheet')

block append main
    include ui/breadcrumbs/breadcrumbs
    +breadcrumbs(['Мебель для кабинета руководителя', 'кресла для кабинета руководителя'])
    include components/product-hero/product-hero
    include components/product-info/product-info
    include components/slider-section/slider-section
    include ui/product-card/product-card
    +slider-section('Похожие товары')
        +product-card(card).swiper-slide
        +product-card(card).swiper-slide
        +product-card(card).swiper-slide
        +product-card(card).swiper-slide
        +product-card(card).swiper-slide

block append scripts
    script(src=require('./product.ts'))
