include layout/utils
include ui/product-card/product-card

.catalog-list.catalog-list.container
    .catalog-list__list
        each _, index in Array(14)
            +product-card({ preorder: index > 2 && index < 5, isFavorite: true })
    +wrapBreak: button.button.button--transparent.button--dark.catalog-list__more-button ещё
