@use 'styles/utils';

.authorization {
    &__inner {
        display: flex;
        flex-direction: column;
    }
    &-title {
        margin-bottom: 40px;
    }

    &-text {
        margin-bottom: 80px;
        width: 100%;
        max-width: 432px;
        font-size: 2rem;
        opacity: 0.5;
    }

    &-form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__input {
            padding-bottom: 16px;
            color: var(--accent);
            font-size: 1.6rem;
            text-transform: uppercase;
            border-bottom: 1px solid var(--accent);

            &::placeholder {
                color: var(--accent);
                opacity: 1;
            }
        }

        &__button {
            margin-top: auto;
        }
    }
}

@media screen and (max-width: utils.$tablet1000) {
    .authorization {
        &-title {
            margin-bottom: 24px;
            font-size: 3.4rem;
        }

        &-text {
            margin-bottom: 40px;
            font-size: 1.2rem;
        }

        &-form {
            justify-content: flex-start;

            &__input {
                font-size: 1.2rem;
            }

            &__button {
                margin-top: 40px;
            }
        }
    }
}
