include layout/utils

+wrapBreak: button.cart-notification(type='button')
    +wrapBreak: span.cart-notification__image-wrapper: +img('').cart-notification__image
    +wrapBreak: span.cart-notification__body
        +wrapBreak: span.cart-notification__title добавлено в корзину
        +wrapBreak: span.cart-notification__text
