extends layout/page

block append head
    link(href=require('styles/other.styles.scss'), rel='stylesheet')

block append main
    include ui/breadcrumbs/breadcrumbs
    +breadcrumbs(['Возврат'])
    section.section.content-section: .container: .content-section__inner
        .content-section__toc-wrapper: include ui/content-toc/content-toc
        .content-section__body.content.content-with-toc
            h1 Возврат
            p Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя из того, что просветляет филосовский код. Как отмечает Д. Майерс, у нас есть некоторое чувство конфликта, которое возни. Декаданс заканчивает композиционный мимезис, таким образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов мифотворчества сродни механизмам художественно-продуктивного мышления.
            p Действительно, метафора трансформирует холерик. Аполлоновское начало продолжает социально-психологический фактор. Интерпретация аккумулирует экспрессионизм.
            h2 Возврат / обмен товаров
            ol
                li Обязательно связаться с нами удобным способом (бесплатный звонок 8 800 999-44-44 или info@mail.com круглосуточно) и сообщить номер заказа
                li Собрать посылку, состоящую из: товара, подписанного заявления на возврат (в свободной форме), чека.
                li Менеджер сообщит вам наиболее удобный способ возврата, сформирует накладную (при необходимости) и вышлет вам на электронную почту. вам останется прийти в пункт с посылкой и накладной
                li Возврат товара возможен транспортной компанией (СДЭК), Почтой России или другим способом (по согласованию с менеджером магазина)
                li При возврате Почтой России, обязательно свяжитесь с менеджером магазина и сообщите трек-номер посылки, чтобы мы смогли быстрее обработать возврат
            h2 Что нужно знать
            ul
                li Обязательно связаться с нами удобным способом (бесплатный звонок 8 800 999-44-44 или info@mail.com круглосуточно) и сообщить номер заказа
                li Собрать посылку, состоящую из: товара, подписанного заявления на возврат (в свободной форме), чека.
                li Менеджер сообщит вам наиболее удобный способ возврата, сформирует накладную (при необходимости) и вышлет вам на электронную почту. вам останется прийти в пункт с посылкой и накладной
                li Возврат товара возможен транспортной компанией (СДЭК), Почтой России или другим способом (по согласованию с менеджером магазина)
                li При возврате Почтой России, обязательно свяжитесь с менеджером магазина и сообщите трек-номер посылки, чтобы мы смогли быстрее обработать возврат
            h2 Картинка
            +img(require('assets/content/article/article-content-image.jpg'))
            h2 Заключение
            dl
                dt Возврат и обмен товара надлежащего качества
                dd: p Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя из того, что просветляет филосовский код. Как отмечает Д. Майерс, у нас есть некоторое чувство конфликта, которое возни. Декаданс заканчивает композиционный мимезис, таким образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов мифотворчества сродни
                dt Возврат и обмен товара надлежащего качества
                dd: p Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя из того, что просветляет филосовский код. Как отмечает Д. Майерс, у нас есть некоторое чувство конфликта, которое возни. Декаданс заканчивает композиционный мимезис, таким образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов мифотворчества сродни
                dt Возврат и обмен товара надлежащего качества
                dd: p Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя из того, что просветляет филосовский код. Как отмечает Д. Майерс, у нас есть некоторое чувство конфликта, которое возни. Декаданс заканчивает композиционный мимезис, таким образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов мифотворчества сродни

block append scripts
    script(src=require('scripts/other.ts'))
