include layout/utils

mixin promoCode(placeholder, handler)
    .promo-code__wrapper
        form.promo-code
            input(type='text', placeholder=placeholder)
            .promo-code__actions
                .promo-code__enter
                .promo-code__clean
        .promo-code__success
        .promo-code__error
