include layout/utils
include features/popup/popup

+popup('courier', 'courier')
    .courier__title Адрес доставки
    +popupBtn('geo').courier__location(data-is-geo) Казань
    .courier-address
        label.input
            span.input__placeholder Улица и дом*
            input(type='text', name='street', required, placeholder='Улица и дом*')
            span.courier-address__list-block
                span.courier-address__list-wrapper
                    span.courier-address__list
        label.input
            span.input__placeholder Квартира/Офис*
            input(type='text', name='flat', required, placeholder='Квартира/Офис*')
        label.input
            span.input__placeholder Домофон
            input(type='text', name='intercom', placeholder='Домофон')
        label.input
            span.input__placeholder Подъезд
            input(type='text', name='entrance', placeholder='Подъезд')
        label.input
            span.input__placeholder Этаж
            input(type='text', name='floor', placeholder='Этаж')
        label.input
            span.input__placeholder Комментарий к заказу
            input(type='text', name='comment', placeholder='Комментарий к заказу')
    button.courier__button.button.button--dark(type='button', data-action='courier') сохранить
