include layout/utils
include features/popup/popup

+popup('points', 'points')
    button.points__show-list-button.button.button--transparent смотреть списком
    .points__info
        .points__info-close
        .points__title пункты выдачи
        .input.points__search
            input(type='text', placeholder='Найти адрес пункта')
        .points__list-wrapper
