include layout/utils
include features/popup/popup

+popup('points', 'points')
    .points__map(data-key='123asd123', data-coords='55.790766971651514, 49.11788124009806')
    button.points__show-list-button.button.button--transparent смотреть списком
    .points__info
        .points__info-close
        .points__title пункты выдачи
        .input.points__search
            input(type='text', placeholder='Найти адрес пункта')
        .points__list-wrapper
            .points__list-container
                ul.points__list
