include layout/utils

-
    var textReview = '<p>Всё понравилось. Делали мебель на заказ. Быстро приехал замерщик, составили эскиз. Произвели расчёт. Указанная в договоре сумма не менялась. Всё понравилось. Делали мебель на заказ. Быстро приехал замерщик, составили эскиз. Произвели расчёт. Указанная в договоре сумма не менялась.</p><p>Всё понравилось. Делали мебель на заказ. Быстро приехал замерщик, составили эскиз. Произвели расчёт. Указанная в договоре сумма не менялась.</p>'

    var textReviewWithPhoto ='<p>Всё понравилось. Делали мебель на заказ. Быстро приехал замерщик, составили эскиз. Произвели расчёт. Указанная в договоре сумма не менялась. Всё понравилось. Делали мебель на заказ. Быстро приехал замерщик, составили эскиз. Произвели расчёт. Указанная в договоре сумма не менялась.</p><p>Всё понравилось. Делали мебель на заказ. Быстро приехал замерщик, составили эскиз. Произвели расчёт. Указанная в договоре сумма не менялась.</p><div><img src="assets/content/reviews/images/1.png"><img src="assets/content/reviews/images/2.png"><img src="assets/content/reviews/images/1.png"><img src="assets/content/reviews/images/2.png"></div><p>Всё понравилось. Делали мебель на заказ. Быстро приехал замерщик, составили эскиз. Произвели расчёт. Указанная в договоре сумма не менялась. Всё понравилось. Делали мебель на заказ. Быстро приехал замерщик, составили эскиз. Произвели расчёт. Указанная в договоре сумма не менялась.</p><img src="assets/content/reviews/images/1.png"><p>Всё понравилось. Делали мебель на заказ. Быстро приехал замерщик, составили эскиз. Произвели расчёт. Указанная в договоре сумма не менялась. Всё понравилось. Делали мебель на заказ. Быстро приехал замерщик, составили эскиз. Произвели расчёт. Указанная в договоре сумма не менялась.</p><div><img src="assets/content/reviews/images/1.png"><img src="assets/content/reviews/images/2.png"></div><p>Всё понравилось. Делали мебель на заказ.</p>'

    var reviews = [
        {
            name: 'Мария петрова',
            image: 'assets/content/reviews/1.jpg',
            position: 'исполнительный директор ПАО «Газпром»',
            review: textReview,
        }, {
            name: 'Андрей разумовский',
            image: 'assets/content/reviews/2.jpg',
            position: 'помощник руководителя ПАО «магнит»',
            review: textReviewWithPhoto,

        }, {
            name: 'Антонина Коршунова',
            image: 'assets/content/reviews/3.jpg',
            position: 'исполнительный директор ооо «чайка»',
            review: textReview,

        }, {
            name: 'Егор иванов',
            image: 'assets/content/reviews/4.jpg',
            position: 'помощник руководителя ПАО «сибур»',
            review: textReviewWithPhoto,

        }, {
            name: 'Наталья родина',
            image: 'assets/content/reviews/5.jpg',
            position: 'исполнительный директор ПАО «Газпром»',
            review: textReviewWithPhoto,
        }
    ]

#text.text-reviews-list
    each item in reviews
        .text-reviews-list__item.reviews__item(data-action='popup', data-popup='text-review')
            .text-reviews-list__item-header
                +img(require(item.image)).text-reviews-list__item-photo
                .text-reviews-list__item-person
                    .text-reviews-list__item-name= item.name
                    .text-reviews-list__item-position= item.position
                .reviews__item-button
            .text-reviews-list__item-description
                .text-reviews-list__item-text!= item.review
                .text-reviews-list__item-media
