include layout/utils

mixin type-list(props)
    -
        props = Object.assign({
            className: '',
            items: [{
                name: '',
                amount: 0,
                link: '#',
                active: false,
            }]
        }, props || {})
    .type-list(class=props.className)&attributes(attributes)
        each item in props.items
            - className = { [`${props.className}__item`]: Boolean(props.className), active: item.active }
            +anchor(item.link).type-list__item(class=className)= item.name
                +wrapBreak: span= item.amount
