include layout/utils

section.section.quick-about: .container
    +img(require('assets/content/main-page/about-photo.jpg')).quick-about__photo
    .quick-about__name Владислав Шунин
    .quick-about__position Основатель магазина
    .quick-about__line
        span
        span
    blockquote.quick-about__blockquote Мы предлагаем разнообразные модели столов, шкафов, стульев, кресел и готовых решений для интерьера вашего бизнеса
    +anchor.text-button.text-button--dark о компании
