include layout/utils

+anchor.small-product-card
    .small-product-card__image-wrapper: +img(require('assets/content/products/2.png')).small-product-card__image
    span.small-product-card__color Оттавио Орех…
    .small-product-card__title Офисное кресло Chairman 6952133123
    .small-product-card__price 17 200 ₽
