include layout/utils

-
    var menu = [
        {
          title: 'Каталог',
          list: [
              'Кабинет руководителя',
              'Бары и рестораны',
              'Офисы и конференц-залы',
              'Гостиницы и апарт-отели',
              'Холлы и общественные зоны',
              'Фуд корты',
              'Уличная мебель',
          ]
        },
        {
          title: 'Покупателям',
          list: [
            'Дизайн-проект',
            'Замер площади',
            'Сборка',
            'Оплата',
            'Доставка',
            'Возврат',
            'Вопрос-ответ',
          ]
        },
        {
          title: 'Сотрудничество',
          list: [
            'Расчёт тендера',
            'Дилерам',
            'Дизайнерам',
          ]
        },
        {
          title: 'О компании',
          list: [
            'О нас',
            'Отзывы',
            'Блог',
            'Контакты',
          ]
        },
    ]

footer.footer
    +img(require("assets/static/footer-bg.jpg")).footer__bg
    .container
        .footer__top
            .footer__mail-block
                +anchor('mailto:mail@loftoffice.ru').footer__mail-link mail@loftoffice.ru
                include ui/socials/socials
            nav.footer__menu-block
                each category in menu
                    .footer__menu-category
                        span.footer__menu-category-title= category.title
                        ul.footer__menu-list
                            each item in category.list
                                li.footer__menu-item= item
        .footer__title LOFT ОФИС
        .footer__bottom
            .footer__copyright © 2024 ООО «Лофт Офис»
            +anchor.footer__policy Политика конфиденциальности
            +anchor.footer__offer публичная оферта
            +anchor('https://aaccent.ru').footer__creator
                +img(require('assets/icons/aaccent-logo.svg'))
                span разработка сайта
