@use 'styles/utils';

.footer {
    position: relative;
    padding-top: 40px;
    padding-bottom: 30px;
    min-height: 100svh;
    display: flex;
    color: var(--white);

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__bg {
        object-position: center;
        object-fit: cover;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__top {
        margin-bottom: 95px;
        display: flex;
        justify-content: space-between;
    }

    &__mail-block {
        gap: 38px;
        display: flex;
        flex-direction: column;
    }

    &__mail-link {
        font-family: var(--steelfish);
        font-size: 4.6rem;
        font-weight: 700;
        line-height: 115%;
        text-transform: uppercase;
    }

    &__socials {
        display: flex;
    }

    &__social-item {
        @include utils.square(40px);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
    }

    &__menu-block {
        gap: 80px;
        display: flex;
    }

    &__menu-category {
        gap: 30px;
        display: flex;
        flex-direction: column;
    }

    &__menu-category-title {
        font-family: var(--steelfish);
        font-size: 2.8rem;
        text-transform: uppercase;
    }

    &__menu-list {
        gap: 14px;
        display: flex;
        flex-direction: column;
    }

    &__menu-item {
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__title {
        margin-top: auto;
        margin-bottom: 40px;
        font-family: var(--steelfish);
        font-size: 27rem;
        letter-spacing: 5px;
        line-height: 1;
        text-transform: uppercase;
    }

    &__bottom {
        gap: 20px;
        padding-top: 31px;
        display: flex;
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: uppercase;
        border-top: 1px solid rgb(100, 100, 100, 0.2);
    }

    &__policy {
        margin-right: 80px;
        margin-left: auto;
    }

    &__creator {
        gap: 16px;
        margin-left: 180px;
        display: flex;
        align-items: center;

        img {
            object-fit: contain;
            object-position: center;
            @include utils.square(28px);
        }
    }
}
