include layout/utils

+popup('cart', 'cart')
    .cart__header
        h2.section-title.cart__title корзина
            span.cart__product-amount 2
        button.cart__share(data-link='https://doka.guide/js/window-navigator/')
            .cart__share-tooltip ссылка скопирована
        button.cart__clear
        button.close-btn
    .cart-list
    form.cart__promo-form(novalidate, data-handler='smth.php')
        input.cart__promo-input(placeholder='промокод')
        button.cart__promo-button
    //.cart-info__fixed
    //    .cart-info__price итого:
    //        if (discount)
    //            .discount 42 000 ₽
    //        .total 52 200 ₽
    //    .cart-info__discount
    //        .cart-info__discount-circle
    //            svg(viewBox='0 0 60 60')
    //                circle.inner(cx='50%', cy='50%', r='30')
    //            svg(viewBox='0 0 60 60')
    //                circle.outer(cx='50%', cy='50%', r='30')
    //        .cart-info__discount-text получите скидку 15%
    //            .cart-info__discount-action(data-price-for-discount='100000') добавьте в корзину товары ещё на
    //                span 5 700 ₽
    //    .cart-info__actions
    //        button.button.button__brown(data-action='popup', data-popup='order') Перейти к оформлению
    //        button.button.button__transparent(data-action='popup', data-popup='preorder') Купить в 1 клик
    .cart-info
        .cart-info__price итого:
            .cart-info__price-total
        .cart-info__delivery Доставка:
            span 'рассчитывается при оформлении'
        .cart-info__weight вес:
            .tooltip
            span
        .cart-info__discount(data-price-for-discount=100000)
            .cart-info__discount-circle
            .cart-info__discount-text получите скидку 15%
                .cart-info__discount-action добавьте в корзину товары ещё на
                    span 5 700 ₽
        .cart-info__actions
            button.button.button__brown(data-action='popup', data-popup='order') Перейти к оформлению
            button.button.button__transparent(data-action='popup', data-popup='preorder') Купить в 1 клик
