@use 'styles/utils';

.cart {
    &__inner {
        width: 950px;
        background-color: var(--main);
    }
    .close-btn {
        display: none;
    }
    &__header {
        margin-bottom: 56px;
        width: 100%;
        display: flex;
        align-items: center;

        .close-btn {
            position: static;
            margin-left: 10px;
            display: flex;
        }
    }

    &__share,
    &__clear {
        @include utils.square(64px);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--accent);

        &::after {
            content: '';
            @include utils.bg-defaults(auto);
        }
    }

    &__share {
        margin-left: auto;

        &:after {
            background-image: url('assets/icons/share.svg');
            @include utils.square(26px);
        }
    }

    &__clear {
        margin-left: 10px;
        &:after {
            background-image: url('assets/icons/bin.svg');
            @include utils.square(24px);
        }
    }

    &-list {
        gap: 32px;
        display: flex;
        flex-direction: column;

        &__product {
            position: relative;
            padding-bottom: 27px;
            display: flex;
            border-bottom: 1px solid var(--accent-light);

            &:last-child {
                border-bottom: none;
            }

            &-remove {
                @include utils.square(15px);
                position: relative;
                margin-bottom: auto;
                align-self: end;
                cursor: pointer;

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 50%;
                    translate: -50% 0;
                    width: 1px;
                    opacity: 0.5;
                    background-color: var(--accent);
                }

                &::after {
                    rotate: -45deg;
                }

                &::before {
                    rotate: 45deg;
                }
            }

            &-img {
                object-position: center;
                object-fit: cover;
                margin-right: 24px;
                width: 152px;
                height: 177px;
                align-self: center;
            }

            &-title {
                margin-bottom: 12px;
                font-family: var(--steelfish), sans-serif;
                font-size: 2.8rem;
                letter-spacing: 0.01rem;
                line-height: 105%;
                text-transform: uppercase;
            }

            &-characteristic {
                gap: 3px;
                margin-bottom: 32px;
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                opacity: 0.5;

                &::after {
                    content: '/';
                    order: 2;
                }
            }

            &-color {
                order: 3;
            }

            &-amount {
                gap: 12px;
                margin-bottom: 56px;
                display: flex;
                align-items: center;
                font-size: 1.6rem;
                letter-spacing: 0.01rem;

                .increase,
                .decrease {
                    @include utils.square(19px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid var(--accent-light);
                }
            }

            &-stock {
                color: var(--green);
                font-size: 1.4rem;
                letter-spacing: 0.01rem;
                text-transform: uppercase;
            }

            &-preorder {
                gap: 33px;
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                letter-spacing: 0.01rem;
                text-decoration: underline;
                text-transform: uppercase;

                &::after {
                    content: '';
                    @include utils.square(12px);
                    @include utils.bg-defaults(auto);
                    background-image: url('assets/icons/tooltip.svg');
                }
            }

            &-price {
                margin-left: auto;
                display: flex;
                flex-direction: column;

                &__peritem {
                    font-size: 1.4rem;
                    text-align: end;
                    opacity: 0.5;
                }

                &__total {
                    gap: 8px;
                    display: flex;
                    align-items: center;
                    font-family: var(--steelfish), sans-serif;
                    font-size: 2.8rem;

                    &:has(.discount) {
                        .total {
                            text-decoration: line-through;
                            opacity: 0.5;
                        }

                        .discount {
                            order: -1;
                        }
                    }
                }
            }
        }
    }
    &__promo {
        &-form {
            margin: 23px 0 56px;
            padding: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid var(--accent-light);
        }

        &-input {
            padding-bottom: 0;
            border-bottom: none;
        }

        &-button {
            @include utils.square(32px);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--accent);

            &::after {
                content: '';
                @include utils.bg-defaults(auto);
                background-image: url('assets/icons/full-arrow.svg');
                @include utils.square(14px);
                rotate: 45deg;
            }

            &:disabled {
                opacity: 0.5;
            }
        }
    }

    &-info {
        &.fixed {
            position: fixed;
            right: 0;
            bottom: 0;
            padding: 40px 60px;
            width: 950px;
            background-color: var(--main);
            border-top: 1px solid var(--accent-light);

            .cart-info {
                &__delivery,
                &__weight {
                    display: none;
                }

                &__discount {
                    margin-top: 0;
                }

                &__actions {
                    margin-top: 40px;
                }
            }
        }

        &__price {
            margin-bottom: 40px;
            display: flex;
            justify-content: space-between;
            font-family: var(--steelfish), sans-serif;
            font-size: 4.6rem;
            line-height: 105%;
            text-transform: uppercase;

            &:has(.discount) {
                justify-content: start;

                .total {
                    margin-left: 12px;
                    text-decoration: line-through;
                    opacity: 0.5;
                }
            }

            .discount {
                margin-left: auto;
            }
        }

        &__delivery,
        &__weight {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            text-transform: uppercase;

            span {
                margin-left: auto;
                opacity: 0.5;
            }
        }

        &__weight {
            margin-top: 13px;
            .tooltip {
                @include utils.square(12px);
                @include utils.bg-defaults(auto);
                margin-left: 8px;
                background-image: url('assets/icons/tooltip.svg');
            }
        }

        &__discount {
            gap: 20px;
            margin-top: 56px;
            display: flex;

            &-circle {
                @include utils.square(60px);
                position: relative;

                svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    overflow: visible;
                }

                circle {
                    fill: none;
                    stroke-width: 1px;

                    &.inner {
                        stroke: var(--accent-light);
                    }

                    &.outer {
                        stroke: var(--accent);
                        stroke-dasharray: 188.4;
                        stroke-dashoffset: 50;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    @include utils.bg-defaults(auto);
                    @include utils.square(25px);
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                    background-image: url('assets/icons/boxes.svg');
                }
            }

            &-text {
                font-family: var(--steelfish), sans-serif;
                font-size: 2.8rem;
                text-transform: uppercase;
            }

            &-action {
                font-family: var(--firs-neue), sans-serif;
                font-size: 1.4rem;
                letter-spacing: 0.01rem;
                opacity: 0.5;
            }
        }
        &__actions {
            margin-top: 56px;
            display: flex;
            justify-content: space-between;

            .button {
                width: 49%;

                &__transparent {
                    color: var(--accent);
                    border-color: var(--accent);

                    &::after {
                        filter: none;
                        background-image: url('assets/icons/phone.svg');
                    }

                    &::before {
                        background-color: var(--accent);
                    }
                }
            }
        }
    }
}
