doctype html
html(lang='ru')
    head
        block head
            title #{ title }
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            meta(charset='UTF-8')

            link(href=require('styles/styles.scss'), rel='stylesheet')
    body
        .main-wrapper
            main.main
                block main

        include ui/popups/video-review/video-review
        include ui/popups/text-review/text-review
        include ui/popups/send-review/send-review
        include ui/popups/cart/cart
        include ui/popups/delivery/courier/courier
        include ui/popups/delivery/points/points
        include ../ui/popups/delivery/store/store

        block scripts
            script(src=require('scripts/main.ts'), type='module')
