@font-face {
    font-family: 'Steelfish';
    src: url('assets/fonts/Steelfish/Steelfish-Regular.woff2') format("woff2"),
    url('assets/fonts/Steelfish/Steelfish-Regular.woff') format("woff");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Steelfish';
    src: url('assets/fonts/Steelfish/Steelfish-Bold.woff2') format("woff2"),
    url('assets/fonts/Steelfish/Steelfish-Bold.woff') format("woff");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('assets/fonts/FirsNeue/TT_Firs_Neue_Regular.woff2') format("woff2"),
    url('assets/fonts/FirsNeue/TT_Firs_Neue_Regular.woff') format("woff");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('assets/fonts/FirsNeue/TT_Firs_Neue_Medium.woff2') format("woff2"),
    url('assets/fonts/FirsNeue/TT_Firs_Neue_Medium.woff') format("woff");
    font-weight: 500;
    font-display: swap;
}
