// Fonts
:root {
    --sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji';
    --firs-neue: 'TT Firs Neue', var(--sans);
    --steelfish: 'Steelfish', var(--sans);
}

// Colors
:root {
    --white: #fff;
    --main: #f6f1eb;
    --accent: #6e4d31;
    --accent-dark: #352c25;
    --green: #048513;
}

// Filters
:root {
    --filter-accent-dark: brightness(0) saturate(100%) invert(28%) sepia(66%) saturate(315%) hue-rotate(346deg)
        brightness(100%) contrast(96%);
}
