// Misc
:root {
    --header-height: 98px;
}

// Fonts
:root {
    --sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji';
    --firs-neue: 'TT Firs Neue', var(--sans);
    --steelfish: 'Steelfish', var(--sans);
}

// Colors
:root {
    --white: #fff;
    --main: #f6f1eb;
    --accent: #6e4d31;
    --accent-dark: #352c25;
    --green: #048513;
    --accent-light: #dbd0c6;
    --accent-half-opacity: #6e4d3180;
}

// Filters
:root {
    --filter-white: brightness(0) saturate(100%) invert(100%);
    --filter-accent-dark: brightness(0) saturate(100%) invert(28%) sepia(66%) saturate(315%) hue-rotate(346deg)
        brightness(100%) contrast(96%);
    --filter-accent: brightness(0) saturate(100%) invert(27%) sepia(80%) saturate(276%) hue-rotate(346deg)
        brightness(98%) contrast(94%);
}
